* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  --standard-right-left-padding: 1rem;

  /*Debugging
    outline: 1px solid red;
  */
}

.bold-text {
  font-weight: bold;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  color: hsl(0, 0%, 33%);
}
.main-container {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header"
  "content";
}

.flex-header {
  background-color: hsl(220, 15%, 99%);
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: var(--standard-right-left-padding);
  padding-right: var(--standard-right-left-padding);
}

.responsive-img {
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 2px;
  box-shadow: 10px 10px 5px hsl(0, 0%, 80%);
}

.title {
  font-size: 2.5rem;
}

.img-div {
  margin: 1rem;
}

.figcaption {
    padding-top: 0.5rem;
    font-size: 0.8rem;
}

.tribute-content {
  grid-area: content;
  justify-self: center;
  max-width: 65ch;
  margin: 0.5rem 0;
  line-height: 1.6rem;
  padding-left: var(--standard-right-left-padding);
  padding-right: var(--standard-right-left-padding);
}

.tribute-content section {
  margin-top: 2rem;
}

.tribute-content section h2 {
  padding-bottom: 0.25rem;
}

@media (min-width: 0px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) {
  html {
    font-size: 1.5rem;
  }
}


@media (min-width: 1001px) {
  html {
    font-size: 2rem;
  }
}
